@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
}

/*-------------------------------------------- 
				NAVIGATION BAR
---------------------------------------------*/
nav {
	height          : 70px;
	width           : 100%;
	background-color: #ffffff;
	display         : flex;
	justify-content : flex-end;
}

nav a {
	text-decoration: none;
	color          : #5e5d5d;
	padding        : 14px 8px;
	line-height    : 50px;
}

nav a:hover {
	color: #4595f7;
}

.social-logos img {
	width     : 16px;
	margin-top: 15px;
}
.social-logos:last-child {
	margin-right: 60px;
}
/*---------------------------------------------
				ABOUT ME PAGE
-----------------------------------------------*/

.about-me {
	color           : #5e5d5d;
	padding         : 15px;
	width           : 400px;
	height          : 500px;
	position        : absolute;
	right           : 15px;
	top             : 85px;
	background-color: white;
}

.about-me p, .about-me h1 {
    padding: 0 30px;
    line-height: 1.5em;
}

.about-me h1 {
	font-weight: 100;
}

.container {
	background-image   : url(../images/about-me-background.jpg);
	background-repeat  : no-repeat;
	background-size    : cover;
	background-position: center;
	height             : 90vh;
	width              : 100%;
	position           : relative;
}

footer {
	color: #5e5d5d;
	margin-left: 50px;
}



/* -----------------------------------------
				CONTACT PAGE
-------------------------------------------- */
.get-in-touch {
	background-image   : url(../images/stret-lamp.jpg);
	background-repeat  : no-repeat;
	height             : 90vh;
	background-position: center;
	position           : relative;
}

.get-in-touch-inner-text {
	background-color: #fff;
	width           : 453px;
	position        : absolute;
	left            : 30px;
	top             : 45px;
	color           : #5e5d5d;
}

.get-in-touch-inner-text h1 {
	font-weight: 100;
}
.get-in-touch form {
	width         : 400px;
	display       : flex;
	flex-direction: column;
}

.get-in-touch input, .get-in-touch textarea {
	box-sizing   : border-box;
	margin-bottom: 5px;
	padding      : 5px;
}

.get-in-touch button {
	align-self   : flex-end;
	margin-bottom: 5px;
}

.get-in-touch p, h1, form {
    margin-left: 5%;
}

.get-in-touch-inner-text button {
	background-color: #4595f7;
	color           : #FFFFFF;
	border          : none;
	padding         : 5px;
}
